@tailwind base;

:root {
  --main-pink: #ed418e;
  --main-blue: #48c5dd;
  --main-yellow: #fbed1d;
  --main-black: #221f1f;
  --highlight-pink: #8d2168;
  --highlight-blue: #226a73;
  --highlight-yellow: #9d9334;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Fredoka One";
}

@tailwind components;

#landingPage-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.landingPageBtn {
  background-color: var(--main-pink);
  color: white;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  box-shadow: 2px 2px 5px var(--main-black);
}

.landingPageBtn:hover {
  border: 2px solid var(--main-pink);
  background-color: white;
  color: var(--main-pink);
  box-shadow: none;
}

#nav-logo {
  max-width: 250px;
}

#nav-socials,
#nav-links {
  display: flex;
  justify-content: flex-end;
}

#home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-nav {
  display: flex;
  flex-direction: row;
}

#albums-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

#videos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#youtube-btn {
  background-color: #666;
  color: #fff;
}

#youtube-btn:hover {
  background-color: #ff0000;
  text-decoration: none;
}

#kids-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 2rem;
}

.instagram-btn {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.instagram-btn a:hover {
  text-decoration: none;
}

.formField {
  border: 2px solid lightgray;
}

.formField:focus {
  border: 2px solid var(--main-pink);
  outline: none;
}

.formButton {
  background-color: var(--main-pink);
  color: white;
}

.formButton:hover {
  background-color: var(--highlight-pink);
  outline: none;
}

#footerEnvelope {
  max-width: 100px;
  margin-right: -1rem;
  position: relative;
}

#newsletterEmail:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  #landingPage-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
  .landingPageBtn {
    border: 2px solid #fff;
  }
  #nav-logo {
    max-width: 150px;
  }
  #nav-socials {
    margin-top: 2rem;
  }
  #nav-links-ul {
    flex-direction: column;
    text-align: right;
  }
  #home-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 2rem;
  }
  #videos-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #footer {
    flex-direction: column;
    text-align: center;
  }
  #footer-nav {
    margin-right: auto;
    margin-left: auto;
  }
  #footerEnvelope {
    margin-right: 0;
    max-width: 50px;
  }
  #kids-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}

@tailwind utilities;

.pink {
  color: var(--main-pink);
}

.blue {
  color: var(--main-blue);
}

.yellow {
  color: var(--main-yellow);
}

.text-center-noimportant {
  text-align: center;
}

.fredoka {
  font-family: "Fredoka One";
}
