@tailwind base;

:root {
  --main-pink: #ed418e;
  --main-blue: #48c5dd;
  --main-yellow: #fbed1d;
  --main-black: #221f1f;
  --highlight-pink: #8d2168;
  --highlight-blue: #226a73;
  --highlight-yellow: #9d9334;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Fredoka One";
}

@tailwind components;

.starLogo {
  width: 500px;
}

.button-pink {
  color: #fff;
  background-color: var(--main-pink);
  text-shadow: -1px -1px 0 var(--main-black), 1px -1px 0 var(--main-black),
    -1px 1px 0 var(--main-black), 1px 1px 0 var(--main-black),
    3px 3px 0 var(--main-black);
  border-radius: 4rem;
  box-shadow: 6px 6px 2px var(--main-black);
  padding: 0.5rem 1.5rem;
  border: 1.5px solid var(--main-black);
}

.button-pink:hover {
  background-color: var(--highlight-pink);
  text-decoration: none;
  color: #fff;
}

.button-blue {
  color: #fff;
  background-color: var(--main-blue);
  text-shadow: -1px -1px 0 var(--main-black), 1px -1px 0 var(--main-black),
    -1px 1px 0 var(--main-black), 1px 1px 0 var(--main-black),
    3px 3px 0 var(--main-black);
  border-radius: 4rem;
  box-shadow: 6px 6px 2px var(--main-black);
  padding: 0.5rem 1.5rem;
  border: 1.5px solid var(--main-black);
}

.button-blue:hover {
  background-color: var(--highlight-blue);
  text-decoration: none;
  color: #fff;
}

.button-yellow {
  color: #fff;
  background-color: var(--main-yellow);
  text-shadow: -1px -1px 0 var(--main-black), 1px -1px 0 var(--main-black),
    -1px 1px 0 var(--main-black), 1px 1px 0 var(--main-black),
    3px 3px 0 var(--main-black);
  border-radius: 4rem;
  box-shadow: 6px 6px 2px var(--main-black);
  padding: 0.5rem 1.5rem;
  border: 1.5px solid var(--main-black);
}

.button-yellow:hover {
  background-color: var(--highlight-yellow);
  color: #fff;
  text-decoration: none;
}

.splashButton {
  color: #fff;
  text-shadow: -1px -1px 0 var(--main-black), 1px -1px 0 var(--main-black),
    -1px 1px 0 var(--main-black), 1px 1px 0 var(--main-black),
    3px 3px 0 var(--main-black);
  border-radius: 4rem;
  box-shadow: 6px 6px 2px var(--main-black);
  padding: 0.5rem 1.5rem;
  border: 1.5px solid var(--main-black);
}

.splashButton:hover {
  color: #fff;
  text-decoration: none;
}

#nav-logo {
  max-width: 250px;
}

#nav-socials,
#nav-links {
  display: flex;
  justify-content: flex-end;
}

#home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

#albums-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

#videos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#youtube-btn {
  background-color: #666;
  color: #fff;
}

#youtube-btn:hover {
  background-color: #ff0000;
  text-decoration: none;
}

#kids-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 2rem;
}

#kidFact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

#partners-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.vip-images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.formField {
  border: 2px solid lightgray;
}

.formField:focus {
  border: 2px solid var(--main-pink);
  outline: none;
}

.formButton {
  background-color: var(--main-pink);
  color: white;
}

.formButton:hover {
  background-color: var(--highlight-pink);
  outline: none;
}

#footerEnvelope {
  max-width: 100px;
  margin-right: -1rem;
  position: relative;
}

#newsletterEmail:focus {
  outline: none;
}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-auto-flow: column;
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 1280px) {
  .cities-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .starLogo {
    width: 250px;
  }
  #nav-logo {
    max-width: 150px;
  }
  #nav-socials {
    margin-top: 2rem;
  }
  #nav-links-ul {
    flex-direction: column;
    text-align: right;
  }
  #home-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 2rem;
  }
  #albums-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #videos-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #partners-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #footerEnvelope {
    margin-right: 0;
    max-width: 50px;
  }
  #kids-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}

@tailwind utilities;

.pink {
  color: var(--main-pink);
}

.pink:hover {
  color: var(--highlight-pink);
  text-decoration: none;
}

.blue {
  color: var(--main-blue);
}

.blue:hover {
  color: var(--highlight-blue);
  text-decoration: none;
}

.yellow {
  color: var(--main-yellow);
}

.yellow:hover {
  color: var(--highlight-yellow);
  text-decoration: none;
}

.black {
  color: var(--main-black);
}

.black:hover {
  color: var(--main-black);
  text-decoration: none;
}

.text-center-noimportant {
  text-align: center;
}

.fredoka {
  font-family: "Fredoka One";
}
