@tailwind base;

:root {
  --main-pink: #ed418e;
  --main-blue: #48c5dd;
  --main-yellow: #fbed1d;
  --main-black: #221f1f;
  --highlight-pink: #8d2168;
  --highlight-blue: #226a73;
  --highlight-yellow: #9d9334;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Fredoka One";
}

@tailwind components;

.landingPageBtn {
  background-color: var(--main-pink);
  color: white;
  border: 2px solid transparent;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
}

.landingPageBtn:hover {
  border: 2px solid var(--main-pink);
  background-color: white;
  color: var(--main-pink);
}

#nav-logo {
  max-width: 250px;
}

#nav-socials,
#nav-links {
  display: flex;
  justify-content: flex-end;
}

#home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.home-card {
  color: var(--main-black);
}

.home-card:hover {
  color: var(--main-pink);
  text-decoration: none;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-nav {
  display: flex;
  flex-direction: row;
}

#albums-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

#videos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #nav-logo {
    max-width: 150px;
  }
  #nav-socials {
    margin-top: 2rem;
  }
  #nav-links-ul {
    flex-direction: column;
    text-align: right;
  }
  #home-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 2rem;
  }
  #videos-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #footer {
    flex-direction: column;
    text-align: center;
  }
  #footer-nav {
    margin-right: auto;
    margin-left: auto;
  }
}

@tailwind utilities;

.pink {
  color: var(--main-pink);
}

.blue {
  color: var(--main-blue);
}

.yellow {
  color: var(--main-yellow);
}
